<?xml version="1.0"?>

<robot name="diffbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="material.xacro" />

  <!-- ===================================== -->
  <!-- Robot Parameters -->
  <!-- ===================================== -->

  <!-- Chassis -->
  <xacro:property name="chassis_length" value="0.305"/>
  <xacro:property name="chassis_width"  value="0.203"/>
  <xacro:property name="chassis_height" value="0.006"/>

  <!-- Wheels -->
  <xacro:property name="wheel_radius" value="0.035"/>
  <xacro:property name="wheel_width"  value="0.027"/>
  <xacro:property name="wheel_separation" value="0.25"/>
  <xacro:property name="wheel_x_offset" value="0.015"/>
  <xacro:property name="wheel_z_offset" value="-0.02"/>

  <!-- IMU -->
  <xacro:property name="imu_length" value="0.025"/>
  <xacro:property name="imu_width" value="0.015"/>
  <xacro:property name="imu_height" value="0.01"/>

  <!-- Lidar -->
  <xacro:property name="laser_radius" value="0.035"/>
  <xacro:property name="laser_height" value="0.02"/>
  <xacro:property name="laser_base_height" value="0.03"/>

  <link name="base_link"></link>

  <!-- ===================================== -->
  <!-- Chassis Link -->
  <!-- ===================================== -->
  <link name="chassis_link">
    <visual>
      <origin xyz="0 0 ${chassis_height/2}" rpy="0 0 0" />
      <geometry>
        <box size="${chassis_length}
                   ${chassis_width}
                   ${chassis_height}"/>
      </geometry>
      <material name="white" />
    </visual>
  </link>

  <joint name="chassis_joint" type="fixed">
    <parent link="base_link" />
    <child link="chassis_link" />
    <origin xyz="0 0 ${-wheel_z_offset + wheel_radius}" />
  </joint>

  <!-- ===================================== -->
  <!-- Left Wheel -->
  <!-- ===================================== -->
  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder radius="${wheel_radius}"
                  length="${wheel_width}"/>
      </geometry>
      <material name="blue" />
    </visual>
  </link>

  <joint name="left_wheel_joint"
         type="fixed">
    <parent link="chassis_link"/>
    <child link="left_wheel"/>
    <origin
      xyz="${wheel_x_offset}
           ${wheel_separation/2}
           ${wheel_z_offset}"
      rpy="${pi/2} 0 0"/>
  </joint>

  <!-- ===================================== -->
  <!-- Right Wheel -->
  <!-- ===================================== -->
  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder radius="${wheel_radius}"
                  length="${wheel_width}"/>
      </geometry>
      <material name="blue" />
    </visual>
  </link>

  <joint name="right_wheel_joint" type="fixed">
    <parent link="chassis_link"/>
    <child link="right_wheel"/>
    <origin
      xyz="${wheel_x_offset}
           ${-wheel_separation/2}
           ${wheel_z_offset}"
      rpy="-${pi/2} 0 0"/>
  </joint>

  <!-- ===================================== -->
  <!-- IMU -->
  <!-- ===================================== -->
  <link name="imu_link">
    <visual>
      <geometry>
        <box size="${imu_length}
                   ${imu_width}
                   ${imu_height}"/>
      </geometry>
      <material name="yellow" />
    </visual>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="chassis_link"/>
    <child link="imu_link"/>
    <origin
      xyz="0.05
           0
           ${chassis_height/2 + 0.015}"
      rpy="0 0 0"/>
  </joint>

  <link name="laser_frame">
    <visual>
      <geometry>
        <cylinder radius="${laser_radius}"
                  length="${laser_height}"/>
      </geometry>
    </visual>
  </link>

  <joint name="laser_joint" type="fixed">
    <parent link="chassis_link"/>
    <child link="laser_frame"/>
    <origin
        xyz="0 0 ${laser_base_height+0.08}"
        rpy="0 0 0"/>
  </joint>

</robot>
